<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
	    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
	    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
	    http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd" 
    default-autowire="byName" default-lazy-init="true">
    <!--加载dubbo属性文件-->
    <context:property-placeholder location="classpath:dubbo.properties" ignore-unresolvable="true"/>
    <!-- 提供方应用名称信息，这个相当于起一个名字，我们dubbo管理页面比较清晰是哪个应用暴露出来的 -->
	<dubbo:application name="rkylin_account"/>
	 <!--使用zookeeper注册中心暴露服务地址 -->
	<dubbo:protocol name="dubbo" port="${provider-port}"/>
	<dubbo:registry protocol="zookeeper" address="${registry-address}" check="false" subscribe="true" register="true"/>
	<!-- 要暴露的服务接口 -->
	<bean id="getGenerationPaymentService" class="com.rkylin.wheatfield.service.impl.GenerationPaymentServiceImpl"></bean>
	<dubbo:service interface="com.rkylin.wheatfield.api.AccountService" ref="getGenerationPaymentService" group="${service-group}" version="0.0.0" timeout="${service-timeout}" />
	
	<bean id="paymentInternalService" class="com.rkylin.wheatfield.service.impl.PaymentInternalServiceImpl"></bean>
	<dubbo:service interface="com.rkylin.wheatfield.api.PaymentInternalOutService" ref="paymentInternalService" group="${service-group}" version="0.0.0" timeout="${service-timeout}" />
	
	<!-- by liuhuan -->                                              
	<bean id="paymentAccountService" class="com.rkylin.wheatfield.service.impl.PaymentAccountServieImpl"></bean>
	<dubbo:service interface="com.rkylin.wheatfield.api.PaymentAccountServiceApi" ref="paymentAccountService" group="${service-group}" version="0.0.0" timeout="${service-timeout}" />
	
	<!-- 基础信息相关 -->
	<dubbo:service interface="com.rkylin.wheatfield.api.BaseInforDubboService" ref="baseInforService" group="${service-group}" version="0.0.0" timeout="${service-timeout}" />
	
	<!-- 账户信息 相关-->
	<dubbo:service interface="com.rkylin.wheatfield.api.AccountInfoDubboService" ref="accountInfoService" group="${service-group}" version="0.0.0" timeout="${service-timeout}" />
	
	<!-- 订单信息 相关-->
	<dubbo:service interface="com.rkylin.wheatfield.api.TransOrderDubboService" ref="transOrderService" group="${service-group}" version="0.0.0" timeout="${service-timeout}" />
</beans>
