<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FinanacePersonMapper">
	<resultMap id="BaseResultMap" type="FinanacePerson">
	  <result column="PERSON_ID" jdbcType="INTEGER" property="personId" />
	  <result column="PERSON_CODE" jdbcType="VARCHAR" property="personCode" />
	  <result column="FIN_ACCOUNT_ID" jdbcType="VARCHAR" property="finAccountId" />
	  <result column="PERSON_CHN_NAME" jdbcType="VARCHAR" property="personChnName" />
	  <result column="PERSON_ENG_NAME" jdbcType="VARCHAR" property="personEngName" />
	  <result column="PERSON_TYPE" jdbcType="TINYINT" property="personType" />
	  <result column="PERSON_SEX" jdbcType="CHAR" property="personSex" />
	  <result column="BIRTHDAY" jdbcType="CHAR" property="birthday" />
	  <result column="CERTIFICATE_TYPE" jdbcType="VARCHAR" property="certificateType" />
	  <result column="CERTIFICATE_NUMBER" jdbcType="VARCHAR" property="certificateNumber" />
	  <result column="MOBILE_TEL" jdbcType="VARCHAR" property="mobileTel" />
	  <result column="FIX_TEL" jdbcType="VARCHAR" property="fixTel" />
	  <result column="EMAIL" jdbcType="VARCHAR" property="email" />
	  <result column="POST" jdbcType="VARCHAR" property="post" />
	  <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
	  <result column="STATUS_ID" jdbcType="VARCHAR" property="statusId" />
	  <result column="REMARK" jdbcType="VARCHAR" property="remark" />
	  <result column="CREATED_TIME" jdbcType="TIMESTAMP" property="createdTime" />
	  <result column="UPDATED_TIME" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <resultMap id="BaseResultMap1" type="FinanacePerson">
	  <result column="FIN_ACCOUNT_ID" jdbcType="VARCHAR" property="finAccountId" />
	  <result column="PERSON_CHN_NAME" jdbcType="VARCHAR" property="personChnName" />
	  <result column="PERSON_ENG_NAME" jdbcType="VARCHAR" property="personEngName" />
	  <result column="CERTIFICATE_TYPE" jdbcType="VARCHAR" property="certificateType" />
	  <result column="CERTIFICATE_NUMBER" jdbcType="VARCHAR" property="certificateNumber" />
	  <result column="STATUS_ID" jdbcType="VARCHAR" property="statusId" />
  </resultMap>
 	<resultMap id="BaseResultMap2" type="FinanacePerson">
	  <result column="PERSON_ID" jdbcType="INTEGER" property="personId" />
	  <result column="PERSON_CODE" jdbcType="VARCHAR" property="personCode" />
	  <result column="FIN_ACCOUNT_ID" jdbcType="VARCHAR" property="finAccountId" />
	  <result column="PERSON_CHN_NAME" jdbcType="VARCHAR" property="personChnName" />
	  <result column="PERSON_ENG_NAME" jdbcType="VARCHAR" property="personEngName" />
	  <result column="PERSON_TYPE" jdbcType="TINYINT" property="personType" />
	  <result column="PERSON_SEX" jdbcType="CHAR" property="personSex" />
	  <result column="BIRTHDAY" jdbcType="CHAR" property="birthday" />
	  <result column="CERTIFICATE_TYPE" jdbcType="VARCHAR" property="certificateType" />
	  <result column="CERTIFICATE_NUMBER" jdbcType="VARCHAR" property="certificateNumber" />
	  <result column="MOBILE_TEL" jdbcType="VARCHAR" property="mobileTel" />
	  <result column="FIX_TEL" jdbcType="VARCHAR" property="fixTel" />
	  <result column="EMAIL" jdbcType="VARCHAR" property="email" />
	  <result column="POST" jdbcType="VARCHAR" property="post" />
	  <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
	  <result column="STATUS_ID" jdbcType="VARCHAR" property="statusId" />
	  <result column="REMARK" jdbcType="VARCHAR" property="remark" />
	  <result column="CREATED_TIME" jdbcType="TIMESTAMP" property="createdTime" />
	  <result column="UPDATED_TIME" jdbcType="TIMESTAMP" property="updatedTime" />
	  <result column="ACCOUNT_RELATE_ID" jdbcType="VARCHAR" property="userId" />
	  <result column="ROOT_INST_CD" jdbcType="VARCHAR" property="rootInstCd" />	  
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <trim prefix="(" prefixOverrides="and" suffix=")">
      <if test="personId != null" >
	      and PERSON_ID = #{personId,jdbcType=INTEGER}
	    </if>
      <if test="personCode != null" >
	      and PERSON_CODE = #{personCode,jdbcType=VARCHAR}
	    </if>
      <if test="finAccountId != null" >
	      and FIN_ACCOUNT_ID = #{finAccountId,jdbcType=VARCHAR}
	    </if>
      <if test="personChnName != null" >
	      and PERSON_CHN_NAME = #{personChnName,jdbcType=VARCHAR}
	    </if>
      <if test="personEngName != null" >
	      and PERSON_ENG_NAME = #{personEngName,jdbcType=VARCHAR}
	    </if>
      <if test="personType != null" >
	      and PERSON_TYPE = #{personType,jdbcType=TINYINT}
	    </if>
      <if test="personSex != null" >
	      and PERSON_SEX = #{personSex,jdbcType=CHAR}
	    </if>
      <if test="birthday != null" >
	      and BIRTHDAY = #{birthday,jdbcType=CHAR}
	    </if>
      <if test="certificateType != null" >
	      and CERTIFICATE_TYPE = #{certificateType,jdbcType=VARCHAR}
	    </if>
      <if test="certificateNumber != null" >
	      and CERTIFICATE_NUMBER = #{certificateNumber,jdbcType=VARCHAR}
	    </if>
      <if test="mobileTel != null" >
	      and MOBILE_TEL = #{mobileTel,jdbcType=VARCHAR}
	    </if>
      <if test="fixTel != null" >
	      and FIX_TEL = #{fixTel,jdbcType=VARCHAR}
	    </if>
      <if test="email != null" >
	      and EMAIL = #{email,jdbcType=VARCHAR}
	    </if>
      <if test="post != null" >
	      and POST = #{post,jdbcType=VARCHAR}
	    </if>
      <if test="address != null" >
	      and ADDRESS = #{address,jdbcType=VARCHAR}
	    </if>
      <if test="statusId != null" >
	      and STATUS_ID = #{statusId,jdbcType=VARCHAR}
	    </if>
      <if test="remark != null" >
	      and REMARK = #{remark,jdbcType=VARCHAR}
	    </if>
      <if test="createdTime != null" >
	      and CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP}
	    </if>
      <if test="updatedTime != null" >
	      and UPDATED_TIME = #{updatedTime,jdbcType=TIMESTAMP}
	    </if>
	  </trim>
    </where>
  </sql>
    <sql id="Example_Where_Clause1">
    <where>
      <trim prefix="(" prefixOverrides="and" suffix=")">
       <if test="createdTimeFrom != null" >
	      <![CDATA[ and FINANACE_PERSON.CREATED_TIME >= #{createdTimeFrom,jdbcType=TIMESTAMP} ]]>
	    </if>
	  <if test="createdTimeTo != null" >
	      <![CDATA[ and FINANACE_PERSON.CREATED_TIME <= #{createdTimeTo,jdbcType=TIMESTAMP} ]]>
	    </if>
      <if test="personId != null" >
	      and FINANACE_PERSON.PERSON_ID = #{personId,jdbcType=INTEGER}
	    </if>
      <if test="personCode != null" >
	      and FINANACE_PERSON.PERSON_CODE = #{personCode,jdbcType=VARCHAR}
	    </if>
      <if test="finAccountId != null" >
	      and FINANACE_PERSON.FIN_ACCOUNT_ID = #{finAccountId,jdbcType=VARCHAR}
	    </if>
      <if test="personChnName != null" >
	      and FINANACE_PERSON.PERSON_CHN_NAME like CONCAT(CONCAT('%', #{personChnName,jdbcType=VARCHAR}), '%')
	    </if>
      <if test="personEngName != null" >
	      and FINANACE_PERSON.PERSON_ENG_NAME like CONCAT(CONCAT('%', #{personEngName,jdbcType=VARCHAR}), '%')
	    </if>
      <if test="personType != null" >
	      and FINANACE_PERSON.PERSON_TYPE = #{personType,jdbcType=TINYINT}
	    </if>
      <if test="personSex != null" >
	      and FINANACE_PERSON.PERSON_SEX = #{personSex,jdbcType=CHAR}
	    </if>
      <if test="birthdayFrom != null" >
	      <![CDATA[ and FINANACE_PERSON.BIRTHDAY >= #{birthdayFrom,jdbcType=CHAR} ]]>
	    </if>
	  <if test="birthdayTo != null" >
	      <![CDATA[ and FINANACE_PERSON.BIRTHDAY <= #{birthdayTo,jdbcType=CHAR} ]]>
	    </if>
      <if test="certificateType != null" >
	      and FINANACE_PERSON.CERTIFICATE_TYPE = #{certificateType,jdbcType=VARCHAR}
	    </if>
      <if test="certificateNumber != null" >
	      and FINANACE_PERSON.CERTIFICATE_NUMBER like CONCAT(CONCAT('%', #{certificateNumber,jdbcType=VARCHAR}), '%')
	    </if>
      <if test="mobileTel != null" >
	      and FINANACE_PERSON.MOBILE_TEL = #{mobileTel,jdbcType=VARCHAR}
	    </if>
      <if test="fixTel != null" >
	      and FINANACE_PERSON.FIX_TEL = #{fixTel,jdbcType=VARCHAR}
	    </if>
      <if test="email != null" >
	      and FINANACE_PERSON.EMAIL like CONCAT(CONCAT('%', #{email,jdbcType=VARCHAR}), '%')
	    </if>
      <if test="post != null" >
	      and FINANACE_PERSON.POST = #{post,jdbcType=VARCHAR}
	    </if>
      <if test="address != null" >
	      and FINANACE_PERSON.ADDRESS = #{address,jdbcType=VARCHAR}
	    </if>
      <if test="statusId != null" >
	      and FINANACE_PERSON.STATUS_ID = #{statusId,jdbcType=VARCHAR}
	    </if>
      <if test="remark != null" >
	      and FINANACE_PERSON.REMARK = #{remark,jdbcType=VARCHAR}
	  
	    </if>
      <if test="updatedTime != null" >
	      and FINANACE_PERSON.UPDATED_TIME = #{updatedTime,jdbcType=TIMESTAMP}
	    </if>
	  <if test="userId != null" >
	      and FINANACE_ACCOUNT.ACCOUNT_RELATE_ID = #{userId,jdbcType=VARCHAR}
	    </if>
	  <if test="rootInstCd != null" >
	      and FINANACE_ACCOUNT.ROOT_INST_CD = #{rootInstCd,jdbcType=VARCHAR}
	    </if>
	  </trim>
    </where>
  </sql>
  <sql id="Example_Set_Clause">
    <set>
      <trim suffixOverrides=",">
      <if test="personId != null">
        PERSON_ID = #{personId,jdbcType=INTEGER},
      </if>
      <if test="personCode != null">
        PERSON_CODE = #{personCode,jdbcType=VARCHAR},
      </if>
      <if test="personChnName != null">
        PERSON_CHN_NAME = #{personChnName,jdbcType=VARCHAR},
      </if>
      <if test="personEngName != null">
        PERSON_ENG_NAME = #{personEngName,jdbcType=VARCHAR},
      </if>
      <if test="personType != null">
        PERSON_TYPE = #{personType,jdbcType=TINYINT},
      </if>
      <if test="personSex != null">
        PERSON_SEX = #{personSex,jdbcType=CHAR},
      </if>
      <if test="birthday != null">
        BIRTHDAY = #{birthday,jdbcType=CHAR},
      </if>
      <if test="certificateType != null">
        CERTIFICATE_TYPE = #{certificateType,jdbcType=VARCHAR},
      </if>
      <if test="certificateNumber != null">
        CERTIFICATE_NUMBER = #{certificateNumber,jdbcType=VARCHAR},
      </if>
      <if test="mobileTel != null">
        MOBILE_TEL = #{mobileTel,jdbcType=VARCHAR},
      </if>
      <if test="fixTel != null">
        FIX_TEL = #{fixTel,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="post != null">
        POST = #{post,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="statusId != null">
        STATUS_ID = #{statusId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="whetherRealName != null">
        WHETHER_REAL_NAME = #{whetherRealName,jdbcType=VARCHAR},
      </if>      
      </trim>
    </set>
  </sql>
  <sql id="Base_Column_List">
    PERSON_ID,
    PERSON_CODE,
    FIN_ACCOUNT_ID,
    PERSON_CHN_NAME,
    PERSON_ENG_NAME,
    PERSON_TYPE,
    PERSON_SEX,
    BIRTHDAY,
    CERTIFICATE_TYPE,
    CERTIFICATE_NUMBER,
    MOBILE_TEL,
    FIX_TEL,
    EMAIL,
    POST,
    ADDRESS,
    STATUS_ID,
    REMARK,
    CREATED_TIME,
    UPDATED_TIME,
  </sql>
  <sql id="Base_Set_Clause">
    <set>
      <trim suffixOverrides=",">
        PERSON_ID = #{personId,jdbcType=INTEGER},
        PERSON_CODE = #{personCode,jdbcType=VARCHAR},
        FIN_ACCOUNT_ID = #{finAccountId,jdbcType=VARCHAR},
        PERSON_CHN_NAME = #{personChnName,jdbcType=VARCHAR},
        PERSON_ENG_NAME = #{personEngName,jdbcType=VARCHAR},
        PERSON_TYPE = #{personType,jdbcType=TINYINT},
        PERSON_SEX = #{personSex,jdbcType=CHAR},
        BIRTHDAY = #{birthday,jdbcType=CHAR},
        CERTIFICATE_TYPE = #{certificateType,jdbcType=VARCHAR},
        CERTIFICATE_NUMBER = #{certificateNumber,jdbcType=VARCHAR},
        MOBILE_TEL = #{mobileTel,jdbcType=VARCHAR},
        FIX_TEL = #{fixTel,jdbcType=VARCHAR},
        EMAIL = #{email,jdbcType=VARCHAR},
        POST = #{post,jdbcType=VARCHAR},
        ADDRESS = #{address,jdbcType=VARCHAR},
        STATUS_ID = #{statusId,jdbcType=VARCHAR},
        REMARK = #{remark,jdbcType=VARCHAR},
        CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP},
        UPDATED_TIME = #{updatedTime,jdbcType=TIMESTAMP},
      </trim>
    </set>
  </sql>
  <sql id="Selective_Column_List">
    <if test="personId != null">
      PERSON_ID,
    </if>
    <if test="personCode != null">
      PERSON_CODE,
    </if>
    <if test="finAccountId != null">
      FIN_ACCOUNT_ID,
    </if>
    <if test="whetherRealName != null">
      WHETHER_REAL_NAME,
    </if>    
    <if test="personChnName != null">
      PERSON_CHN_NAME,
    </if>
    <if test="personEngName != null">
      PERSON_ENG_NAME,
    </if>
    <if test="personType != null">
      PERSON_TYPE,
    </if>
    <if test="personSex != null">
      PERSON_SEX,
    </if>
    <if test="birthday != null">
      BIRTHDAY,
    </if>
    <if test="certificateType != null">
      CERTIFICATE_TYPE,
    </if>
    <if test="certificateNumber != null">
      CERTIFICATE_NUMBER,
    </if>
    <if test="mobileTel != null">
      MOBILE_TEL,
    </if>
    <if test="fixTel != null">
      FIX_TEL,
    </if>
    <if test="email != null">
      EMAIL,
    </if>
    <if test="post != null">
      POST,
    </if>
    <if test="address != null">
      ADDRESS,
    </if>
    <if test="statusId != null">
      STATUS_ID,
    </if>
    <if test="remark != null">
      REMARK,
    </if>
    <if test="createdTime != null">
      CREATED_TIME,
    </if>
    <if test="updatedTime != null">
      UPDATED_TIME,
    </if>
  </sql>
	<sql id="Base_Value_List">
    #{personId,jdbcType=INTEGER},
    #{personCode,jdbcType=VARCHAR},
    #{finAccountId,jdbcType=VARCHAR},
    #{personChnName,jdbcType=VARCHAR},
    #{personEngName,jdbcType=VARCHAR},
    #{personType,jdbcType=TINYINT},
    #{personSex,jdbcType=CHAR},
    #{birthday,jdbcType=CHAR},
    #{certificateType,jdbcType=VARCHAR},
    #{certificateNumber,jdbcType=VARCHAR},
    #{mobileTel,jdbcType=VARCHAR},
    #{fixTel,jdbcType=VARCHAR},
    #{email,jdbcType=VARCHAR},
    #{post,jdbcType=VARCHAR},
    #{address,jdbcType=VARCHAR},
    #{statusId,jdbcType=VARCHAR},
    #{remark,jdbcType=VARCHAR},
    #{createdTime,jdbcType=TIMESTAMP},
    #{updatedTime,jdbcType=TIMESTAMP},
	</sql>
  <sql id="Selective_Value_List">
    <if test="personId != null">
      #{personId,jdbcType=INTEGER},
    </if>
    <if test="personCode != null">
      #{personCode,jdbcType=VARCHAR},
    </if>
    <if test="finAccountId != null">
      #{finAccountId,jdbcType=VARCHAR},
    </if>
    <if test="whetherRealName != null">
      #{whetherRealName,jdbcType=VARCHAR},
    </if>    
    <if test="personChnName != null">
      #{personChnName,jdbcType=VARCHAR},
    </if>
    <if test="personEngName != null">
      #{personEngName,jdbcType=VARCHAR},
    </if>
    <if test="personType != null">
      #{personType,jdbcType=TINYINT},
    </if>
    <if test="personSex != null">
      #{personSex,jdbcType=CHAR},
    </if>
    <if test="birthday != null">
      #{birthday,jdbcType=CHAR},
    </if>
    <if test="certificateType != null">
      #{certificateType,jdbcType=VARCHAR},
    </if>
    <if test="certificateNumber != null">
      #{certificateNumber,jdbcType=VARCHAR},
    </if>
    <if test="mobileTel != null">
      #{mobileTel,jdbcType=VARCHAR},
    </if>
    <if test="fixTel != null">
      #{fixTel,jdbcType=VARCHAR},
    </if>
    <if test="email != null">
      #{email,jdbcType=VARCHAR},
    </if>
    <if test="post != null">
      #{post,jdbcType=VARCHAR},
    </if>
    <if test="address != null">
      #{address,jdbcType=VARCHAR},
    </if>
    <if test="statusId != null">
      #{statusId,jdbcType=VARCHAR},
    </if>
    <if test="remark != null">
      #{remark,jdbcType=VARCHAR},
    </if>
    <if test="createdTime != null">
      #{createdTime,jdbcType=TIMESTAMP},
    </if>
    <if test="updatedTime != null">
      #{updatedTime,jdbcType=TIMESTAMP},
    </if>
  </sql>
  
  <select id="selectByExample" parameterType="FinanacePersonQuery" resultMap="BaseResultMap">
    select
    <trim suffixOverrides=",">
      <include refid="Base_Column_List" />
    </trim>
    from FINANACE_PERSON
    <include refid="Example_Where_Clause" />
    <!-- order by CREATE_DATE -->
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <trim suffixOverrides=",">
      <include refid="Base_Column_List" />
    </trim>
    from FINANACE_PERSON
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <!--判断个人证件号的唯一性-->
   <select id="selectByRootInstCdOrNumOrStatusId"  resultMap="BaseResultMap1">
    SELECT
	FINANACE_PERSON.FIN_ACCOUNT_ID,
	FINANACE_PERSON.PERSON_CHN_NAME,
	FINANACE_PERSON.PERSON_ENG_NAME,
	FINANACE_PERSON.CERTIFICATE_TYPE,
	FINANACE_PERSON.CERTIFICATE_NUMBER,
	FINANACE_PERSON.STATUS_ID
	FROM
	FINANACE_ACCOUNT
	INNER JOIN FINANACE_PERSON ON FINANACE_PERSON.FIN_ACCOUNT_ID = FINANACE_ACCOUNT.FIN_ACCOUNT_ID 
	where FINANACE_ACCOUNT.ROOT_INST_CD=#{rootInstCd,jdbcType=VARCHAR} 
	<if test="certificateType != null">
	and FINANACE_PERSON.CERTIFICATE_TYPE=#{certificateType,jdbcType=VARCHAR} 
	</if>
	<if test="certificateNumber != null">
	and FINANACE_PERSON.CERTIFICATE_NUMBER=#{certificateNumber,jdbcType=VARCHAR} 
	</if>
	<if test="mobileTel != null">
	and FINANACE_PERSON.MOBILE_TEL=#{mobileTel,jdbcType=VARCHAR} 
	</if>	
	and FINANACE_PERSON.STATUS_ID=1
  <!--查询个人开户信息-->
  </select>
   <select id="selectByRootInstCdUserIdStatusIdTypeId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <trim suffixOverrides=",">
      <include refid="Base_Column_List" />
    </trim>
    from FINANACE_PERSON
    WHERE FIN_ACCOUNT_ID = (
    SELECT FIN_ACCOUNT_ID FROM FINANACE_ACCOUNT 
    WHERE ACCOUNT_RELATE_ID = #{userId,jdbcType=VARCHAR} AND ROOT_INST_CD = #{rootInstCd,jdbcType=VARCHAR} and FIN_ACCOUNT_TYPE_ID = #{finAccountTypeId,jdbcType=VARCHAR} and FINANACE_PERSON.STATUS_ID=#{statusId,jdbcType=VARCHAR});
  </select>
    <!--批量查询个人开户信息-->
  <select id="selectByExampleBatch" parameterType="FinanacePersonQuery" resultMap="BaseResultMap2">
    SELECT
	    FINANACE_PERSON.PERSON_CHN_NAME,
	    FINANACE_PERSON.PERSON_ENG_NAME,
	    FINANACE_PERSON.PERSON_TYPE,
	    FINANACE_PERSON.PERSON_SEX,
	    FINANACE_PERSON.BIRTHDAY,
	    FINANACE_PERSON.CERTIFICATE_TYPE,
	    FINANACE_PERSON.CERTIFICATE_NUMBER,
	    FINANACE_PERSON.MOBILE_TEL,
	    FINANACE_PERSON.FIX_TEL,
	    FINANACE_PERSON.EMAIL,
	    FINANACE_PERSON.POST,
	    FINANACE_PERSON.ADDRESS,
	    FINANACE_PERSON.STATUS_ID,
	    FINANACE_PERSON.REMARK,
	    FINANACE_PERSON.CREATED_TIME,
	    FINANACE_PERSON.UPDATED_TIME,
	    FINANACE_ACCOUNT.ACCOUNT_RELATE_ID,
	    FINANACE_ACCOUNT.ROOT_INST_CD
    FROM  FINANACE_PERSON  FORCE INDEX(IND_FINANACE_PERSON02,IND_FINANACE_PERSON01)
    JOIN FINANACE_ACCOUNT  ON FINANACE_ACCOUNT.FIN_ACCOUNT_ID = FINANACE_PERSON.FIN_ACCOUNT_ID 
                        AND FINANACE_ACCOUNT.ROOT_INST_CD = #{rootInstCd,jdbcType=VARCHAR}
    <include refid="Example_Where_Clause1" />
    <!-- order by CREATE_DATE -->
    ORDER BY FINANACE_PERSON.CREATED_TIME;
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from FINANACE_PERSON
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="FinanacePersonQuery">
    delete from FINANACE_PERSON
    <include refid="Example_Where_Clause" />
  </delete>
  <insert id="insert" parameterType="FinanacePerson">
    insert into FINANACE_PERSON
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <include refid="Base_Column_List"/>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <include refid="Base_Value_List"/>
    </trim>
  </insert>
  <insert id="insertSelective" parameterType="FinanacePerson">
    insert into FINANACE_PERSON
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <include refid="Selective_Column_List"/>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <include refid="Selective_Value_List"/>
    </trim>
  </insert>
  <select id="countByExample" parameterType="FinanacePersonQuery" resultType="java.lang.Integer">
    select count(*) from FINANACE_PERSON
    <include refid="Example_Where_Clause" />
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="FinanacePerson">
    update FINANACE_PERSON
    <include refid="Example_Set_Clause"/>
    where PERSON_ID = #{personId}
  </update>
  <update id="updateByPrimaryKey" parameterType="FinanacePerson">
    update FINANACE_PERSON
    <include refid="Base_Set_Clause"/>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByFinanaceAccountId" parameterType="FinanacePerson">
    update FINANACE_PERSON
    <include refid="Example_Set_Clause"/>
    where FIN_ACCOUNT_ID = #{finAccountId,jdbcType=VARCHAR}
  </update>
 
  <resultMap id="personInfoBaseResultMap" type="FinanacePerson">
	  <result column="PERSON_ID" jdbcType="INTEGER" property="personId" />
	  <result column="PERSON_CODE" jdbcType="VARCHAR" property="personCode" />
	  <result column="FIN_ACCOUNT_ID" jdbcType="VARCHAR" property="finAccountId" />
	  <result column="PERSON_CHN_NAME" jdbcType="VARCHAR" property="personChnName" />
	  <result column="PERSON_ENG_NAME" jdbcType="VARCHAR" property="personEngName" />
	  <result column="PERSON_TYPE" jdbcType="TINYINT" property="personType" />
	  <result column="PERSON_SEX" jdbcType="CHAR" property="personSex" />
	  <result column="BIRTHDAY" jdbcType="CHAR" property="birthday" />
	  <result column="CERTIFICATE_TYPE" jdbcType="VARCHAR" property="certificateType" />
	  <result column="CERTIFICATE_NUMBER" jdbcType="VARCHAR" property="certificateNumber" />
	  <result column="MOBILE_TEL" jdbcType="VARCHAR" property="mobileTel" />
	  <result column="FIX_TEL" jdbcType="VARCHAR" property="fixTel" />
	  <result column="EMAIL" jdbcType="VARCHAR" property="email" />
	  <result column="POST" jdbcType="VARCHAR" property="post" />
	  <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
	  <result column="STATUS_ID" jdbcType="VARCHAR" property="statusId" />
	  <result column="REMARK" jdbcType="VARCHAR" property="remark" />
	  <result column="CREATED_TIME" jdbcType="TIMESTAMP" property="createdTime" />
	  <result column="UPDATED_TIME" jdbcType="TIMESTAMP" property="updatedTime" />
	  <result column="ACCOUNT_RELATE_ID" jdbcType="VARCHAR" property="userId" />
	  <result column="ROOT_INST_CD" jdbcType="VARCHAR" property="rootInstCd" />	  
	  <result column="GROUP_MANAGE" jdbcType="VARCHAR" property="productId" />
	  <result column="ACCOUNT_CODE" jdbcType="VARCHAR" property="accountCode" />
	  <result column="REFER_USER_ID" jdbcType="VARCHAR" property="referUserId" />
	  <result column="FIN_ACCOUNT_NAME" jdbcType="VARCHAR" property="finAccountName" />
	  <result column="WHETHER_REAL_NAME" jdbcType="VARCHAR" property="whetherRealName" />
  </resultMap>
 
    <sql id="Example_Where_PersonAccInfo">
    <where>
      <trim prefix="(" prefixOverrides="and" suffix=")">
      <if test="personId != null" >
	      and FINANACE_PERSON.PERSON_ID = #{personId,jdbcType=INTEGER}
	    </if>
      <if test="personCode != null" >
	      and FINANACE_PERSON.PERSON_CODE = #{personCode,jdbcType=VARCHAR}
	    </if>
      <if test="finAccountId != null" >
	      and FINANACE_PERSON.FIN_ACCOUNT_ID = #{finAccountId,jdbcType=VARCHAR}
	    </if>
      <if test="whetherRealName != null" >
	      and FINANACE_PERSON.WHETHER_REAL_NAME = #{whetherRealName,jdbcType=VARCHAR}
	    </if>	    
      <if test="personChnName != null" >
	      and FINANACE_PERSON.PERSON_CHN_NAME like CONCAT(CONCAT('%', #{personChnName,jdbcType=VARCHAR}), '%')
	    </if>
      <if test="personEngName != null" >
	      and FINANACE_PERSON.PERSON_ENG_NAME like CONCAT(CONCAT('%', #{personEngName,jdbcType=VARCHAR}), '%')
	    </if>
      <if test="personType != null" >
	      and FINANACE_PERSON.PERSON_TYPE = #{personType,jdbcType=TINYINT}
	    </if>
      <if test="personSex != null" >
	      and FINANACE_PERSON.PERSON_SEX = #{personSex,jdbcType=CHAR}
	    </if>
      <if test="certificateType != null" >
	      and FINANACE_PERSON.CERTIFICATE_TYPE = #{certificateType,jdbcType=VARCHAR}
	    </if>
      <if test="certificateNumber != null" >
	      and FINANACE_PERSON.CERTIFICATE_NUMBER like CONCAT(CONCAT('%', #{certificateNumber,jdbcType=VARCHAR}), '%')
	    </if>
      <if test="mobileTel != null" >
	      and FINANACE_PERSON.MOBILE_TEL = #{mobileTel,jdbcType=VARCHAR}
	    </if>
      <if test="fixTel != null" >
	      and FINANACE_PERSON.FIX_TEL = #{fixTel,jdbcType=VARCHAR}
	    </if>
      <if test="email != null" >
	      and FINANACE_PERSON.EMAIL like CONCAT(CONCAT('%', #{email,jdbcType=VARCHAR}), '%')
	    </if>
      <if test="post != null" >
	      and FINANACE_PERSON.POST = #{post,jdbcType=VARCHAR}
	    </if>
      <if test="address != null" >
	      and FINANACE_PERSON.ADDRESS = #{address,jdbcType=VARCHAR}
	    </if>
      <if test="statusId != null" >
	      and FINANACE_PERSON.STATUS_ID = #{statusId,jdbcType=VARCHAR}
	    </if>
      <if test="remark != null" >
	      and FINANACE_PERSON.REMARK = #{remark,jdbcType=VARCHAR}
	    </if>
      <if test="updatedTime != null" >
	      and FINANACE_PERSON.UPDATED_TIME = #{updatedTime,jdbcType=TIMESTAMP}
	    </if>
	  <if test="userId != null" >
	      and FINANACE_ACCOUNT.ACCOUNT_RELATE_ID = #{userId,jdbcType=VARCHAR}
	    </if>
	  <if test="rootInstCd != null" >
	      and FINANACE_ACCOUNT.ROOT_INST_CD = #{rootInstCd,jdbcType=VARCHAR}
	    </if>
	  <if test="accountCode != null" >
	      and FINANACE_ACCOUNT.ACCOUNT_CODE = #{accountCode,jdbcType=VARCHAR}
	    </if>
	  <if test="referUserId != null" >
	      and FINANACE_ACCOUNT.REFER_USER_ID = #{referUserId,jdbcType=VARCHAR}
	    </if>	
	  <if test="finAccountName != null" >
	      and FINANACE_ACCOUNT.FIN_ACCOUNT_NAME = #{finAccountName,jdbcType=VARCHAR}
	    </if>	    	    	    
       <if test="createdTimeFrom != null" >
	      <![CDATA[ and FINANACE_PERSON.CREATED_TIME >= #{createdTimeFrom,jdbcType=TIMESTAMP} ]]>
	    </if>
	  <if test="createdTimeTo != null" >
	      <![CDATA[ and FINANACE_PERSON.CREATED_TIME <= #{createdTimeTo,jdbcType=TIMESTAMP} ]]>
	    </if>	    
	    	AND FINANACE_ACCOUNT.FIN_ACCOUNT_TYPE_ID=10001
	    	AND FINANACE_ACCOUNT.STATUS_ID=1 
	  </trim>
	  		ORDER BY FINANACE_PERSON.CREATED_TIME
	  <if test="accountCode == null" >
	        limit #{dataIndex},#{dataCount}		    
	  </if>
    </where>
  </sql> 
  
  <select id="selectPersonAccInfo"  resultMap="personInfoBaseResultMap">
    SELECT
    FINANACE_PERSON.PERSON_ID,
    FINANACE_PERSON.PERSON_CODE,
    FINANACE_PERSON.FIN_ACCOUNT_ID,
    FINANACE_PERSON.PERSON_CHN_NAME,
    FINANACE_PERSON.PERSON_ENG_NAME,
    FINANACE_PERSON.PERSON_TYPE,
    FINANACE_PERSON.PERSON_SEX,
    FINANACE_PERSON.BIRTHDAY,
    FINANACE_PERSON.CERTIFICATE_TYPE,
    FINANACE_PERSON.CERTIFICATE_NUMBER,
    FINANACE_PERSON.MOBILE_TEL,
    FINANACE_PERSON.FIX_TEL,
    FINANACE_PERSON.EMAIL,
    FINANACE_PERSON.POST,
    FINANACE_PERSON.ADDRESS,
    FINANACE_PERSON.STATUS_ID,
    FINANACE_PERSON.REMARK,
    FINANACE_PERSON.CREATED_TIME,
    FINANACE_PERSON.UPDATED_TIME,
    FINANACE_PERSON.WHETHER_REAL_NAME,
    FINANACE_ACCOUNT.ROOT_INST_CD,
    FINANACE_ACCOUNT.ACCOUNT_RELATE_ID,
    FINANACE_ACCOUNT.GROUP_MANAGE,
    FINANACE_ACCOUNT.FIN_ACCOUNT_NAME,
    FINANACE_ACCOUNT.ACCOUNT_CODE,
    FINANACE_ACCOUNT.REFER_USER_ID
	FROM
	FINANACE_PERSON 
	JOIN FINANACE_ACCOUNT ON FINANACE_PERSON.FIN_ACCOUNT_ID = FINANACE_ACCOUNT.FIN_ACCOUNT_ID 
    <include refid="Example_Where_PersonAccInfo" />
  </select>  
</mapper>